extends layout.pug

block content
    div.container
        br
        h1 #{unauthorized ? 'Unauthorized' : ''}
        p #{not_found ? 'Not found' : ''}
        br
        a.linkButton(href='/') Home
        
        
